In [25]:
import os
import pandas as pd

import warnings; 
warnings.simplefilter('ignore')

In [26]:
!git clone https://github.com/farelarden/Dicoding-Capstone-ML.git

fatal: destination path 'Dicoding-Capstone-ML' already exists and is not an empty directory.

In [27]:
dataset_1 = pd.read_csv('/content/Dicoding-Capstone-ML/Dataset/Latitude & Longitude Dataset/longitude, latitude.csv')
dataset_2 = pd.read_csv('/content/Dicoding-Capstone-ML/Dataset/Latitude & Longitude Dataset/longitude, latitude.csv')

In [28]:
dataset_1.tail()

             Kota  Latitude   Longitude
85      MANOKWARI -0.856815  134.062597
86    KOTA SORONG -0.658133  131.260537
87        MERAUKE -8.456140  140.401085
88         TIMIKA -4.545373  136.884106
89  KOTA JAYAPURA -2.561784  140.674532

In [29]:
# Renaming the column names 
dataset_1=dataset_1.rename(columns = {'Latitude':'lat','Longitude':'lon'})
dataset_2=dataset_2.rename(columns = {'Latitude':'lat','Longitude':'lon'})
# To make sure that there are no null values and All are either integers/ Float values 
dataset_1.info() 
print('\n XXXXXXXXXXXXXXXXXXXXXXX\n')
dataset_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Kota    90 non-null     object
 1   lat     90 non-null     float64
 2   lon     90 non-null     float64
dtypes: float64(2), object(1)
memory usage: 2.2+ KB

 XXXXXXXXXXXXXXXXXXXXXXX

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Kota    90 non-null     object
 1   lat     90 non-null     float64
 2   lon     90 non-null     float64
dtypes: float64(2), object(1)
memory usage: 2.2+ KB

In [30]:
from math import radians, cos, sin, asin, sqrt
def dist(lat1, long1, lat2, long2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lat1, long1, lat2, long2 = map(radians, [lat1, long1, lat2, long2])
    # haversine formula 
    dlon = long2 - long1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km

In [31]:
def find_nearest(lat, long):
    distances = dataset_1.apply(
        lambda row: dist(lat, long, row['lat'], row['lon']), 
        axis=1)
    return dataset_1.loc[distances.idxmin(), 'Kota']

In [32]:
dataset_2.dtypes

Kota     object
lat     float64
lon     float64
dtype: object

In [33]:
Kota_Pilihan = "KOTA MEULABOH"

In [34]:
dataset_2_1 = dataset_2[dataset_2.Kota != Kota_Pilihan]

In [35]:
dataset_2_1

                     Kota       lat         lon
1         KOTA BANDA ACEH  5.589495   95.317255
2        KOTA LHOKSEUMAWE  5.216476   97.146540
3            KOTA SIBOLGA  1.750085   98.782589
4   KOTA PEMATANG SIANTAR  3.061371   99.061489
5              KOTA MEDAN  3.796303   98.690139
..                    ...       ...         ...
85              MANOKWARI -0.856815  134.062597
86            KOTA SORONG -0.658133  131.260537
87                MERAUKE -8.456140  140.401085
88                 TIMIKA -4.545373  136.884106
89          KOTA JAYAPURA -2.561784  140.674532

[89 rows x 3 columns]

In [36]:
dataset_2_1_1 = dataset_2.set_index("Kota")
dataset_2_1_2 = dataset_2_1_1.loc[["KOTA BANDA ACEH"]]

In [37]:
dataset_2_1_2

                      lat        lon
Kota
KOTA BANDA ACEH  5.589495  95.317255

In [38]:
dataset_2_1_2['lat']

Kota
KOTA BANDA ACEH    5.589495
Name: lat, dtype: float64

In [39]:
dataset_2_1 = dataset_2_1.to_dict('records')

In [40]:
dataset_2_1

[{'Kota': 'KOTA BANDA ACEH', 'lat': 5.589494799, 'lon': 95.31725461},
 {'Kota': 'KOTA LHOKSEUMAWE', 'lat': 5.216476107, 'lon': 97.14653982},
 {'Kota': 'KOTA SIBOLGA', 'lat': 1.750085105, 'lon': 98.78258894},
 {'Kota': 'KOTA PEMATANG SIANTAR',
  'lat': 3.0613710339999995,
  'lon': 99.06148874},
 {'Kota': 'KOTA MEDAN', 'lat': 3.7963030460000002, 'lon': 98.69013907},
 {'Kota': 'KOTA PADANGSIDIMPUAN', 'lat': 1.529860721, 'lon': 99.27096445},
 {'Kota': 'KOTA GUNUNGSITOLI', 'lat': 1.309821852, 'lon': 97.61046151},
 {'Kota': 'KOTA PADANG',
  'lat': -0.6427982879999999,
  'lon': 100.40737929999999},
 {'Kota': 'KOTA BUKITTINGGI', 'lat': -0.290846741, 'lon': 100.3831793},
 {'Kota': 'TEMBILAHAN', 'lat': -0.294146713, 'lon': 103.14673379999999},
 {'Kota': 'KOTA PEKANBARU', 'lat': 0.806030633, 'lon': 101.46885879999999},
 {'Kota': 'KOTA DUMAI', 'lat': 1.74818782, 'lon': 101.3990186},
 {'Kota': 'BUNGO', 'lat': -1.396967914, 'lon': 101.82014240000001},
 {'Kota': 'KOTA JAMBI', 'lat': -1.5046700480000001, 'lon': 103.601912},
 {'Kota': 'KOTA PALEMBANG', 'lat': -2.675813126, 'lon': 104.7300199},
 {'Kota': 'KOTA LUBUKLINGGAU', 'lat': -3.16282751, 'lon': 102.89368780000001},
 {'Kota': 'KOTA BENGKULU', 'lat': -3.650244375, 'lon': 102.263284},
 {'Kota': 'KOTA BANDAR LAMPUNG',
  'lat': -5.374232139,
  'lon': 105.25969189999999},
 {'Kota': 'KOTA METRO', 'lat': -5.090531007, 'lon': 105.3109013},
 {'Kota': 'TANJUNG PANDAN', 'lat': -2.676088446, 'lon': 107.6508759},
 {'Kota': 'KOTA PANGKAL PINANG', 'lat': -2.09761224, 'lon': 106.1320971},
 {'Kota': 'KOTA BATAM', 'lat': 1.129029297, 'lon': 104.05052740000001},
 {'Kota': 'KOTA TANJUNG PINANG',
  'lat': 0.9191215009999999,
  'lon': 104.4646839},
 {'Kota': 'DKI JAKARTA', 'lat': -6.20720205, 'lon': 106.8391197},
 {'Kota': 'KOTA BOGOR', 'lat': -6.588708607999999, 'lon': 106.8042488},
 {'Kota': 'KOTA SUKABUMI',
  'lat': -6.9271290389999995,
  'lon': 106.92760890000001},
 {'Kota': 'KOTA BANDUNG',
  'lat': -6.915714196000001,
  'lon': 107.61156909999998},
 {'Kota': 'KOTA CIREBON', 'lat': -6.731182492, 'lon': 108.55402240000002},
 {'Kota': 'KOTA BEKASI', 'lat': -6.239924672000001, 'lon': 106.97012420000001},
 {'Kota': 'KOTA DEPOK', 'lat': -6.402173648, 'lon': 106.7941054},
 {'Kota': 'KOTA TASIKMALAYA',
  'lat': -7.350102122999999,
  'lon': 108.21798729999999},
 {'Kota': 'CILACAP', 'lat': -7.697156474, 'lon': 109.02339609999999},
 {'Kota': 'PURWOKERTO', 'lat': -7.424827456, 'lon': 109.2395727},
 {'Kota': 'KUDUS', 'lat': -6.787950607000001, 'lon': 110.83727879999999},
 {'Kota': 'KOTA SURAKARTA', 'lat': -7.544191398, 'lon': 110.8247883},
 {'Kota': 'KOTA SEMARANG', 'lat': -7.00427942, 'lon': 110.45036470000001},
 {'Kota': 'KOTA TEGAL', 'lat': -6.87933268, 'lon': 109.1258572},
 {'Kota': 'KOTA YOGYAKARTA', 'lat': -7.794575257999999, 'lon': 110.3717543},
 {'Kota': 'JEMBER', 'lat': -8.17109275, 'lon': 113.686869},
 {'Kota': 'BANYUWANGI', 'lat': -8.220491351, 'lon': 114.36752340000001},
 {'Kota': 'SUMENEP', 'lat': -7.004558417999999, 'lon': 113.8577605},
 {'Kota': 'KOTA KEDIRI', 'lat': -7.848198172000001, 'lon': 112.01549809999999},
 {'Kota': 'KOTA MALANG', 'lat': -7.892066015, 'lon': 112.6310936},
 {'Kota': 'KOTA PROBOLINGGO', 'lat': -7.776201714, 'lon': 113.20751259999999},
 {'Kota': 'KOTA MADIUN', 'lat': -7.630764025, 'lon': 111.52736409999999},
 {'Kota': 'KOTA SURABAYA', 'lat': -7.250071461, 'lon': 112.7511331},
 {'Kota': 'KOTA TANGERANG', 'lat': -6.169650005, 'lon': 106.64109950000001},
 {'Kota': 'KOTA CILEGON', 'lat': -6.015898609, 'lon': 106.05},
 {'Kota': 'KOTA SERANG', 'lat': -6.116605667000001, 'lon': 106.15313429999999},
 {'Kota': 'SINGARAJA', 'lat': -8.114854737, 'lon': 115.0905996},
 {'Kota': 'KOTA DENPASAR', 'lat': -8.671303623, 'lon': 115.21447240000002},
 {'Kota': 'KOTA MATARAM', 'lat': -8.555981675, 'lon': 116.0958507},
 {'Kota': 'KOTA BIMA', 'lat': -8.408594384, 'lon': 118.62310749999999},
 {'Kota': 'WAINGAPU', 'lat': -9.695939187999999, 'lon': 120.18263519999999},
 {'Kota': 'MAUMERE', 'lat': -8.595372587, 'lon': 122.21696399999999},
 {'Kota': 'KOTA KUPANG', 'lat': -10.08700218, 'lon': 123.605448},
 {'Kota': 'SINTANG', 'lat': 0.06396373, 'lon': 111.4879443},
 {'Kota': 'KOTA PONTIANAK', 'lat': -0.026116601, 'lon': 109.34110020000001},
 {'Kota': 'KOTA SINGKAWANG', 'lat': 1.006141639, 'lon': 109.00147759999999},
 {'Kota': 'SAMPIT', 'lat': -2.538779349, 'lon': 112.95881499999999},
 {'Kota': 'KOTA PALANGKA RAYA', 'lat': -2.216391738, 'lon': 113.914024},
 {'Kota': 'KOTA BARU', 'lat': -2.131013957, 'lon': 115.8968508},
 {'Kota': 'TANJUNG', 'lat': -2.0115356419999997, 'lon': 115.35916529999999},
 {'Kota': 'KOTA BANJARMASIN', 'lat': -3.068380339, 'lon': 114.61812179999998},
 {'Kota': 'KOTA BALIKPAPAN', 'lat': -1.2360432940000001, 'lon': 116.8496416},
 {'Kota': 'KOTA SAMARINDA', 'lat': -0.493205616, 'lon': 117.148738},
 {'Kota': 'TANJUNG SELOR', 'lat': 2.8449122860000005, 'lon': 117.3638432},
 {'Kota': 'KOTA TARAKAN', 'lat': 3.327736424, 'lon': 117.5790803},
 {'Kota': 'KOTA MANADO', 'lat': 1.473546425, 'lon': 124.8449085},
 {'Kota': 'KOTA KOTAMOBAGU', 'lat': 0.7285617809999999, 'lon': 124.3122969},
 {'Kota': 'LUWUK', 'lat': -0.938055616, 'lon': 122.7928868},
 {'Kota': 'KOTA PALU', 'lat': -0.8994110190000001, 'lon': 119.8772899},
 {'Kota': 'BULUKUMBA', 'lat': -5.420442112999999, 'lon': 120.24943209999999},
 {'Kota': 'WATAMPONE', 'lat': -4.537873451, 'lon': 120.32491110000001},
 {'Kota': 'KOTA MAKASSAR', 'lat': -5.026911628, 'lon': 119.44227790000001},
 {'Kota': 'KOTA PARE-PARE', 'lat': -3.926056741, 'lon': 119.6170831},
 {'Kota': 'KOTA PALOPO', 'lat': -2.9717850610000003, 'lon': 120.18763},
 {'Kota': 'KOTA KENDARI', 'lat': -3.999088811, 'lon': 122.51506940000002},
 {'Kota': 'KOTA BUA-BAU', 'lat': -5.50639436, 'lon': 122.59681509999999},
 {'Kota': 'KOTA GORONTALO', 'lat': 0.594747493, 'lon': 123.05711229999999},
 {'Kota': 'MAMUJU', 'lat': -2.489971738, 'lon': 119.3335784},
 {'Kota': 'KOTA AMBON', 'lat': -3.560521542, 'lon': 128.1633291},
 {'Kota': 'KOTA TUAL', 'lat': -5.335365671, 'lon': 132.6957739},
 {'Kota': 'KOTA TERNATE', 'lat': 0.798636132, 'lon': 127.3602611},
 {'Kota': 'MANOKWARI', 'lat': -0.85681509, 'lon': 134.0625965},
 {'Kota': 'KOTA SORONG', 'lat': -0.658133486, 'lon': 131.2605366},
 {'Kota': 'MERAUKE', 'lat': -8.456139719, 'lon': 140.4010854},
 {'Kota': 'TIMIKA', 'lat': -4.54537316, 'lon': 136.8841064},
 {'Kota': 'KOTA JAYAPURA', 'lat': -2.561783651, 'lon': 140.6745321}]

In [41]:
type(dataset_2_1)

list

In [42]:
distances = []

def distance(lat1, lon1, lat2, lon2):
    p = 0.017453292519943295
    hav = 0.5 - cos((lat2-lat1)*p)/2 + cos(lat1*p)*cos(lat2*p) * (1-cos((lon2-lon1)*p)) / 2
    return 12742 * asin(sqrt(hav))

def closest(data, v):
    # return second_smallest(data, key=lambda p: distance(v['lat'],v['lon'],p['lat'],p['lon']))
    # second_smallest(distances)
    return min(data, key=lambda p: distance(v['lat'],v['lon'],p['lat'],p['lon']))

v = {'lat': dataset_2_1_2['lat'], 'lon': dataset_2_1_2['lon']}
closest_1 = closest(dataset_2_1, v)
print(closest_1)

{'Kota': 'KOTA BANDA ACEH', 'lat': 5.589494799, 'lon': 95.31725461}

In [43]:
First_city = closest_1.get('Kota')

In [44]:
for i in range(len(dataset_2_1)):
    if dataset_2_1[i]['Kota'] == First_city:
        del dataset_2_1[i]
        break

In [45]:
distances = []

def distance(lat1, lon1, lat2, lon2):
    p = 0.017453292519943295
    hav = 0.5 - cos((lat2-lat1)*p)/2 + cos(lat1*p)*cos(lat2*p) * (1-cos((lon2-lon1)*p)) / 2
    return 12742 * asin(sqrt(hav))

def closest(data, v):
    # return second_smallest(data, key=lambda p: distance(v['lat'],v['lon'],p['lat'],p['lon']))
    # second_smallest(distances)
    return min(data, key=lambda p: distance(v['lat'],v['lon'],p['lat'],p['lon']))

v = {'lat': dataset_2_1_2['lat'], 'lon': dataset_2_1_2['lon']}
closest_2 = closest(dataset_2_1, v)
print(closest_2)

{'Kota': 'KOTA LHOKSEUMAWE', 'lat': 5.216476107, 'lon': 97.14653982}

In [46]:
Second_city = closest_2.get('Kota')